@page "~/categorias/{skip?}/{take?}"
@model MyRazorApp.Pages.Categories
@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Price</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model.CategoryList)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Title</td>
            <td>@category.Price.ToString("C", new CultureInfo("pt-BR"))</td>
        </tr>
    }
    </tbody>
</table>