<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"] - My Razor App</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/MyRazorApp.styles.css" asp-append-version="true">
</head>
<body>
<header>
    <partial name="Shared/NavMenuPartial"/>
</header>
<main>
    @RenderBody()
</main>

<footer>
    2023 - Powered By balta.io
</footer>

@RenderSection("scripts", false)
</body>
</html>