<ul>
    <li>
        <a asp-page="Home">Home</a>
    </li>
    <li>
        <a asp-page="About">Sobre</a>
    </li>
    <li>
        <a asp-page="Categories">Categorias</a>
    </li>
    <li>
        <a asp-page="Login">Login</a>
    </li>
</ul>